.userpic {
  width: var(--width);
  height: var(--height);
  border-radius: 50%;
  background-image: linear-gradient(to right, var(--first-color), var(--second-color));
}

.userpic:hover {
  background-image: linear-gradient(to right, var(--first-hover-color), var(--second-hover-color));
}

img {
  width: calc(var(--width) - var(--margin) * 2);
  height: calc(var(--height) - var(--margin) * 2);
  border-radius: 50%;
  border: var(--margin) solid var(--background-color);
}